@import 'sanitize.css';
/*
@import 'common/variables.css';
@import 'common/fonts.css';
@import 'common/tags.css';
@import 'common/blocks.css';
@import 'front/tags.css';
@import 'front/furniture.css';
@import 'front/utility.css';
@import 'front/print.css';
*/

@import 'front/content';
@import 'front/home';

// Required
@import "../../../node_modules/bootstrap/scss/functions";

$enable-shadows: true;
$scriptFront: 'Kaikoura W05 Regular';
$container-max-widths: (
  'sm': 540px,
  'md': 768px,
  'lg': 960px,
  'xl': 1140px,
  'xxl': 1240px
);
$min-contrast-ratio: 3.8;

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

$custom-colors: (
  'primary': #278e9e,
  'secondary': #E6362F,
  'yellow': #ffeb53,
  'primary-light': lighten(#278e9e, 10),
  'secondary-light': lighten(#E6362F, 10)
);
$theme-colors: map-merge($theme-colors, $custom-colors);

// @import '../../../node_modules/bootstrap/scss/bootstrap';

// Layout & components
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
// @import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
// @import "../../../node_modules/bootstrap/scss/tables";
// @import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
// @import "../../../node_modules/bootstrap/scss/dropdown";
// @import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
// @import "../../../node_modules/bootstrap/scss/card";
// @import "../../../node_modules/bootstrap/scss/accordion";
// @import "../../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../../node_modules/bootstrap/scss/pagination";
// @import "../../../node_modules/bootstrap/scss/badge";
// @import "../../../node_modules/bootstrap/scss/alert";
// @import "../../../node_modules/bootstrap/scss/progress";
// @import "../../../node_modules/bootstrap/scss/list-group";
// @import "../../../node_modules/bootstrap/scss/close";
// @import "../../../node_modules/bootstrap/scss/toasts";
// @import "../../../node_modules/bootstrap/scss/modal";
// @import "../../../node_modules/bootstrap/scss/tooltip";
// @import "../../../node_modules/bootstrap/scss/popover";
// @import "../../../node_modules/bootstrap/scss/carousel";
// @import "../../../node_modules/bootstrap/scss/spinners";

// Helpers
@import "../../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../../node_modules/bootstrap/scss/utilities/api";

// @import 'front/daterangepicker';
// @import 'front/fonts';
// @import 'front/icons';


.bg-primary-light {
  background-color: var(--bs-primary-light);
}

.navbar {
  color: var(--bs-primary);

  // .social-link {
  //   .facebook {
  //     @include svg-icon(facebook, 16px);
  //     @include svg-primary();
  //   }

  //   .google {
  //     @include svg-icon(google, 16px);
  //     @include svg-primary();
  //   }

  //   .instagram {
  //     @include svg-icon(instagram, 16px);
  //     @include svg-primary();
  //   }
  // }

  .navbar-brand {
    color: var(--bs-secondary);
    font-family: $scriptFront;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: var(--bs-primary);
}

.logo {
  text-align: center;

  img {
    padding: 2rem;
    max-width: 375px;

    @include media-breakpoint-up(sm) {
      max-width: 450px;
      padding: 2rem;
    }
  }
}

#footer {
  #logoFooter {
    @include media-breakpoint-down(sm) {
      text-align: center;
      padding-bottom: 2rem;
    }
  }

  .widget-title {
    color: var(--bs-yellow);
    font-family: $scriptFront;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .menu {
    padding-left: 1em;

    @include media-breakpoint-down(sm) {
      text-align: center;
      padding: 0;
    }

    list-style: none;

    .menu-item a {
      text-decoration: none;
      color: var(--bs-yellow);
    }
  }
}

.font-custom {
  font-family: $scriptFront;
}

#contact .content {
  max-width: 600px;
  margin: 0 auto;
}

footer {
  .social-media {
    display: flex;

    @include media-breakpoint-up(sm) {
      flex-direction: column;
    }
  }

  .social-link {
    .icon {
      margin-right: 7px;
    }

    a {
      color: var(--bs-yellow);
    }

    // .facebook {
    //   @include svg-icon(facebook, 22px);
    //   @include svg-yellow();
    // }

    // .google {
    //   @include svg-icon(google, 22px);
    //   @include svg-yellow();
    // }

    // .instagram {
    //   @include svg-icon(instagram, 22px);
    //   @include svg-yellow();
    // }
  }
}
